@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
/*===========================
  COMMON css 
===========================*/
:root {
  --font-family: "Inter", sans-serif;
  --cor-primaria: #efad3c;
  --black: #1d1d1d;
  --dark-1: #2d2d2d;
  --dark-2: #4d4d4d;
  --dark-3: #6d6d6d;
  --branco-1: #efefef;
  
  --branco-2: #fafafa;
  --white: #ffffff;
}

body {
  font-family: var(--font-family);
  
  font-size: 16px;
}


img {
  max-width: 100%;
}

a {
  display: inline-block;
}

a,
button,
a:hover,
a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1,
h2,

h4,
h5,
h6 {
  font-weight: 600;
  color: var(--black);
  margin: 0px;
}

h1,
.h1 {
  font-size: 2.75em;
  line-height: 1.25;
}

h2,
.h2 {
  font-size: 2.25em;
  line-height: 1.25;
}



h4,
.h4 {
  font-size: 1.5em;
  line-height: 1.25;
}

h5,
.h5 {
  font-size: 1.25em;
  line-height: 1.25;
}

h6,
.h6 {
  font-size: 0.875em;
  line-height: 1.25;
}


p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-3);
  margin: 0px;
}



.text-lg {
  font-size: 2em;
  line-height: 1.5;
}













/*===========================
  Section Title Five CSS
===========================*/
.titulo-customizado {
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
}
.titulo-customizado h6 {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
  color: var(--cor-primaria);
  border: 2px solid var(--cor-primaria);
  border-radius: 30px;
  padding: 8px 30px;
}
.titulo-customizado h2 {
  margin-bottom: 15px;
}
.titulo-customizado p {
  color: var(--dark-3);
}




/*===========================
  NAVBAR css 
===========================*/
.navbar-toggler:focus {
  box-shadow: none;
}



/*===== NAVBAR =====*/
.navbar-area.navbar-section {
  background: var(--cor-primaria);
  padding: 10px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.sticky {
  position: fixed !important;
  z-index:99 !important;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 0;
  width: 100%;
}
.navbar-area.navbar-section .navbar-brand {
  margin: 0;
}
.navbar-area.navbar-section .navbar {
  position: relative;
  padding: 0;
}
.navbar-area.navbar-section .navbar .navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: var(--white);
  margin: 5px 0;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-area.navbar-section .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.navbar-area.navbar-section .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar-area.navbar-section .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-collapse {
    position: absolute;
    top: 116%;
    left: 0;
    width: 100%;
    background-color: var(--cor-primaria);
    z-index: 8;
    padding: 10px 16px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .navbar-area.navbar-section .navbar .navbar-nav {
    
    margin-left: 480px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav {
    margin-right: 0;
  }
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item a {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  color: var(--white);
  text-transform: capitalize;
  position: relative;
  border-radius: 5px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin: 14px 0;
  opacity: 0.7;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item a:hover {
  opacity: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item a {
    padding: 10px 0;
    display: block;
    border: 0;
    margin: 0;
  }
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item a.active {
  opacity: 1;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item a i {
  font-size: 12px;
  font-weight: 700;
  padding-left: 7px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item a i {
    position: relative;
    top: -5px;
  }
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu {
  position: absolute;
  left: 0;
  top: 130%;
  width: 230px;
  background-color: var(--white);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 99;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu {
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    top: auto !important;
    opacity: 1 !important;
    visibility: visible !important;
    right: auto;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all none ease-out 0s;
    -moz-transition: all none ease-out 0s;
    -ms-transition: all none ease-out 0s;
    -o-transition: all none ease-out 0s;
    transition: all none ease-out 0s;
    box-shadow: none;
    text-align: left;
    border-top: 0;
    height: 0;
  }
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
  height: auto;
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
    height: 0;
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu.show {
    height: auto;
  }
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li {
  position: relative;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li .sub-nav-toggler {
  color: var(--black);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  color: var(--dark-2);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 0;
  margin: 0 0;
  z-index: 5;
  opacity: 1;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li a i {
  font-weight: 700;
  font-size: 12px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li a i {
    display: none;
  }
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li a .sub-nav-toggler i {
  display: inline-block;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
  right: auto;
  left: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li .sub-menu.show {
    visibility: visible;
    height: auto;
    position: relative;
  }
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-nav-toggler {
  color: var(--white);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-nav-toggler {
    color: var(--cor-primaria);
  }
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li:hover > a {
  color: var(--cor-primaria);
  padding-left: 22px;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li:hover > a i {
  color: var(--cor-primaria);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li:hover > a {
    color: var(--cor-primaria);
  }
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li:hover > a::after {
  opacity: 1;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-menu li:hover > a::before {
  opacity: 1;
}
.navbar-area.navbar-section .navbar .navbar-nav .nav-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 115%;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-nav .nav-item .sub-nav-toggler {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 14px;
    font-size: 16px;
    background: none;
    border: 0;
    color: var(--white);
  }
}
.navbar-area.navbar-section .navbar .navbar-btn {
  margin-top: 6px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area.navbar-section .navbar .navbar-btn {
    position: absolute;
    right: 70px;
    top: 7px;
  }
}
@media (max-width: 767px) {
  .navbar-area.navbar-section .navbar .navbar-btn {
    position: absolute;
    right: 60px;
    top: 7px;
  }
}
.navbar-area.navbar-section .navbar .navbar-btn .menu-bar {
  font-size: 22px;
  position: relative;
  overflow: hidden;
  color: var(--white);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid rgba(238, 238, 238, 0.425);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-area.navbar-section .navbar .navbar-btn .menu-bar:hover {
  border-color: transparent;
  color: var(--cor-primaria);
  background-color: var(--white);
}





/*======================================
    header Area CSS
========================================*/
.header {
  position: relative;
  padding:160px 0 100px 0;
  background: var(--cor-primaria);
}


.header .header-image img {
  width: 100%;
  border-radius: 8px;
}

.header .header-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
}
.header .header-content h1 {
  font-weight: 700;
  color: var(--white);
  text-shadow: 0px 3px 8px #00000017;
  text-transform: capitalize;
}


.header .header-content h1 span {
  display: block;
}
.header .header-content p {
  margin-top: 30px;
  color: var(--white);
  opacity: 0.7;
}
.header .button {
  margin-top: 40px;
}
.header .cor-primaria-btn {
  margin-right: 12px;
  background-color: var(--white);
  color: var(--cor-primaria);
  border: 1px solid transparent;
}
.header .cor-primaria-btn:hover {
  background-color: transparent;
  color: var(--white);
  border-color: var(--white);
}
.header .video-button {
  display: inline-flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header .video-button {
    margin-top: 20px;
  }
}
.header .video-button .text {
  display: inline-block;
  margin-left: 15px;
  color: var(--white);
  font-weight: 600;
}
.header .video-button .icon-btn {
  background: var(--white);
  color: var(--cor-primaria);
}

/*===========================
  sobre nos css
===========================*/
.sobre-nos-area {
  background-color: var(--branco-2);
  padding-top: 120px;
  padding-bottom: 90px;
  
}

.sobre-nos-conteudo{
  padding-left: 50px;
}

.sobre-nos-conteudo .small-title {
  position: relative;
  padding-left: 30px;
}
.sobre-nos-conteudo .small-title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  background-color: var(--cor-primaria);
  height: 2px;
  width: 20px;
  margin-top: -1px;
}
.sobre-nos-conteudo .main-title {
  margin-top: 20px;
}
.sobre-nos-conteudo .sobre-nos-tab {
  margin-top: 40px;
}
.sobre-nos-conteudo .sobre-nos-tab nav {
  border: none;
  background-color: var(--branco-1);
  padding: 15px;
  border-radius: 5px;
}
.sobre-nos-conteudo .sobre-nos-tab nav .nav-tabs {
  border: none;
}
.sobre-nos-conteudo .sobre-nos-tab nav button {
  border: none;
  color: var(--dark-1);
  font-weight: 600;
  padding: 0;
  margin-right: 20px;
  position: relative;
  background-color: var(--white);
  padding: 10px 18px;
  border-radius: 4px;
  text-transform: capitalize;
}

.sobre-nos-conteudo .sobre-nos-tab nav button:hover {
  color: var(--cor-primaria);
}
.sobre-nos-conteudo .sobre-nos-tab nav button.active {
  background-color: var(--cor-primaria);
  color: var(--white);
}
.sobre-nos-conteudo .sobre-nos-tab nav button:last-child {
  margin-right: 0;
}
.sobre-nos-conteudo .sobre-nos-tab .tab-conteudo {
  border: none;
  padding-top: 30px;
}
.sobre-nos-conteudo .sobre-nos-tab .tab-conteudo p {
  margin-bottom: 20px;
}
.sobre-nos-conteudo .sobre-nos-tab .tab-conteudo p:last-child {
  margin: 0;
}




/*===========================
  oficina css 
===========================*/
.oficina-area {
  padding: 100px 0;
}

.oficina-area .curso {
  padding: 40px 30px;
  border: 1px solid var(--branco-1);
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.oficina-area .curso:hover {
  box-shadow: var(--shadow-4);
}
.oficina-area .curso:hover .curso-icone {
  color: var(--white);
  border-color: transparent;
  background: var(--cor-primaria);
}
.oficina-area .curso:hover .curso-icone::after {
  opacity: 1;
  visibility: visible;
}
.oficina-area .curso .curso-icone {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-bottom: 25px;
  background: var(--white);
  border: 2px solid var(--cor-primaria);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-primaria);
  font-size: 40px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
}
.oficina-area .curso .curso-icone::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: var(--cor-primaria);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid transparent;
}
.oficina-area .curso .curso-conteudo h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.oficina-area .curso .curso-conteudo p {
  color: var(--dark-3);
}










/*===== galeria-area =====*/
.galeria {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  
  justify-content: center;
  padding-bottom: 50px;
}
.imagem-galeria {
  margin: 10px;
  display: block;
  padding-top: 40px;
  width: calc(33.33% - 20px);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.imagem-galeria img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imagem-galeria {
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}
.imagem-galeria {
  transform: scale(1.1);
}










/* contato area css */
.contato-area {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--cor-primaria);
  position: relative;
}
.contato-area .f-link li {
  display: block;
  margin-bottom: 12px;
}
.contato-area .f-link li:last-child {
  margin: 0;
}
.contato-area .f-link li a {
  color: var(--branco-1);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.contato-area .f-link li a:hover {
  opacity: 1;
}
.contato-area .f-link{
  padding-left: 0px;
  text-align: center;
}

.contato-area .f-link h5{
  color: var(--branco-1);
  padding-bottom: 20px;
  font-size: 40px;
}